<div class="footer">
  <a href="#">{{ i18n "scroll_top" }}</a>
  <div class="footer-copyright">
    <div class="dim">© {{ now.Year }}</div>
    <div class="dim">
      Made with ❤️ by
      <a
        href="https://github.com/sahriarnahid"
        target="_blank"
        style="
          color: var(--primary-color);
          text-decoration: none;
          border-bottom: 1px solid var(--primary-color);
          transition: opacity 0.3s;
        "
        >Sahriar Rahman Nahid</a
      >
    </div>
  </div>
</div>
